{% load i18n %}

<div class="dcsic_wrapper{% if current_img_url %} has_image{% endif %}" data-res-width="{{ widget.res_width }}" data-res-height="{{ widget.res_height }}" data-res-format="{{ widget.res_format }}" data-res-quality="{{ widget.res_quality }}">
    <input type="hidden" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}{% if original_uploaded_data %} value="{{ original_uploaded_data }}"{% endif %}>
    <img src="{{ current_img_url }}" class="dcsic_current_img" style="width: {{ widget.preview_width }}px; height: {{ widget.preview_height }}px " />
    <label>
        <span class="dcsic_choose_img">{% trans "Choose image" %}</span>
        <span class="dcsic_choose_other_img">{% trans "Choose other image" %}</span>
        <input type="file" class="dcsic_file_input" accept="image/*"/>
    </label>
    {% if input_clearable %}<span class="dcsic_delete_image">{% trans "Delete image" %}</span>{% endif %}
</div>
<div class="dcsic_overlay"><div class="dcsic_dialog">
    <div class="dcsic_croppie_container"></div>
    <div class="dcsic_buttons">
        <div><div class="dcsic_left"><span class="dcsic_icon">↺</span> {% trans "Rotate left" %}</div><div class="dcsic_right"><span class="dcsic_icon">↻</span> {% trans "Rotate right" %}</div></div>
        <div><div class="dcsic_cancel">{% trans "Cancel" %}</div><div class="dcsic_ok">{% trans "OK" %}</div></div>
    </div>
</div></div>